:root{
    --pimarycolor:purple;
    --secondarycolor:pink;
    --lightcolor:#ffffff;
   --bgcolor-1:#171a1c;
   --bgcolor-2:#22282a;
   --padding:8%;

}





  *{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
color: var(--lightcolor);
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}
span{
    color:var(--pimarycolor)
    
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
   
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a {
    color:var(--lightcolor);
    text-decoration: none;
text-transform: capitalize;
transition: 0.4s;

}
nav ul li a:hover{
    color: var(--pimarycolor);
}
.btn{
    background-color: var(--pimarycolor);
    text-decoration:none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    color: var(--lightcolor);
    transition: 0.4s;
    border: 2px solid transparent;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--pimarycolor);

}
.content{
    
justify-content: space-between;    
    
}
.container-texts{
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    position: relative;
    bottom: -70px;
}
h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h3{font-size: 1.5rem;

}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: red;
}
.social{
    margin-top: 3.5rem;
}
.social img {
margin-right: 2rem;
width: 2.5rem;
transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}
.container-imgs{
    width: 90%;
    height: 45%;
    position:relative;
align-self: flex-end;
}
.container-imgs img{
    position: absolute;
    bottom: 0;
}
.about{
    background-color: var(--bgcolor-2);
    padding:2rem  var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about  .container-imgs{
    width: 35%;
}
.about  .container-imgs img {
    width: 35%;
}
.about .container-texts{
    width: 35%;
}
p{
    color: var(--secondarycolor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
.services{
    background-color: var(--bgcolor-1);
    padding: 2rem  var(--padding);
}
.text-center{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem ;
    text-align: center;
}
.lol{
    width: 300px;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 2rem 2rem;
    text-align: center;
    
}
.pol{
    display: flex;
}
.card i{
    font-size: 3.12rem;
    text-align: center;
    color: var(--pimarycolor);
    margin: 2rem;
}
.lol i{
    font-size: 3.12rem;
    text-align: center;
    color: var(--pimarycolor);
    margin: 2rem;
}
.skills .container-imgs{
width: 35%;
}
.skills .container-imgs img{
width: 90%;
}
.skills{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
display: flex;
align-items: center;
justify-content: space-between;
}
.containe-skills{
    display: flex;
    flex-wrap: wrap;
}
.skills .containe-skills{
    width: 40%;
}
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgcolor-1);
}
footer .content-foter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .content-foter P{
    color: var(--lightcolor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .content-foter .end{
    color: blue;
    margin-top: 1rem;
}
.slider{
    width: 300px;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    padding: 0%;
    width: 1500px;
list-style: none;
position: relative;
animation:sliding 15s ease-in-out infinite
}
.slider ul li{
    position: relative;
    float: left;
}

    @keyframes sliding {
        0%{
    left: 0%;
        }
        50%{
            left: -300px;
        }
        100%{
            left: -600px;
        }
